* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
}

.app {
  width: 600px;
  height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #000;
  margin: 100px auto;
}

.header-container {
  text-align: center;
}

.header-container h1 {
  margin: 50px 0 15px 0;
  font-size: 50px;
}

.touchpads {
  width: 100%;
  display: flex;
}

.touchpads > div {
  height: 100px;
  width: 100px;
  flex: 1;
}

.touchpad1 {
  background: #000;
}

.touchpad2 {
  background: #3d3d3d;
}

.touchpad3 {
  background: #5e5d5d;
}

.touchpad4 {
  background: #868686;
}

.touchpad5 {
  background: #b3b3b3;
}

.touchpad6 {
  background: #cfcfcf;
}

.visual > div {
  position: absolute;
  bottom: 0%;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  transform: scale(1);
}

@keyframes jump {
  0% {
    bottom: 10%;
    left: 30%;
  }

  50% {
    bottom: 55%;
    left: 50%;
  }

  100% {
    bottom: -100%;
    left: 100%;
  }
}
